<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- xml를 활용한 공통코드 -->
<!-- 매핑할 인터페이스를 namespace에 넣는다. 패키지명.인터페이스명 -->
<mapper namespace="com.ysy.mapper.TimeMapper">

<!-- mapper 안쪽에 쿼리문 생성 -->
<select id="getTimeXML" resultType="string">
	select sysdate from dual
</select>



</mapper>