<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- xml를 활용한 공통코드 -->
<!-- 매핑할 인터페이스를 namespace에 넣는다. 패키지명.인터페이스명 -->
<mapper namespace="org.zerock.mapper.BoardMapper">

	<select id="getList" resultType="org.zerock.domain.BoardVO">
<![CDATA[
select * from tbl_board where bno > 0
]]>
	</select>

	<insert id="insert">
<![CDATA[
insert into tbl_board (bno, title, content, writer)
values(seq_board.nextval, #{title}, #{content}, #{writer})
]]>
	</insert>


	<insert id="insertSelectKey">
		<selectKey keyProperty="bno" order="BEFORE"
			resultType="long">
			select seq_board.nextval from dual
		</selectKey>

<![CDATA[
insert into tbl_board (bno, title, content, writer)
values(#{bno}, #{title}, #{content}, #{writer})
]]>
	</insert>

	<select id="read" resultType="org.zerock.domain.BoardVO">
<![CDATA[
select * from tbl_board where bno = #{bno}
]]>
	</select>

	<update id="update">
<![CDATA[
update tbl_board set title = #{title}, content = #{content}, writer = #{writer}, updateDate = sysdate
where bno = #{bno}
]]>
	</update>

<delete id="delete">
<![CDATA[
delete from tbl_board where bno = #{bno}
]]>
</delete>











</mapper>